EIA_API_KEY=F5Zpg2hoRqXfAa9CMdcbGndwAyTpIzA3CbvQIsLc
GCP_PROJECT_ID=your-gcp-project-id
GCP_DATASET=gas_prices
GOOGLE_APPLICATION_CREDENTIALS=./secrets/gcp_key.json
RAW_DATA_PATH=./data/raw
PROCESSED_DATA_PATH=./data/processed
INGESTION_START_DATE=2020-01-01
LOG_LEVEL=INFO
